<!--
CUSTOMIZATION:

CATEGORY NAME OF NOTES TO PRINT FOR COLUMN 1
{% assign notes_column_1_category_TechTeam = "Leader" %}
{% assign notes_column_1_category_TechTeam_friendly = "Leader" %}

{% assign notes_column_1_category_SoundTeam = "Leader" %}
{% assign notes_column_1_category_SoundTeam_friendly = "Leader" %}

CATEGORY NAME OF NOTES TO PRINT FOR COLUMN 2
{% assign notes_column_2_category_TechTeam = "Video" %}
{% assign notes_column_2_category_TechTeam_friendly = "Video" %}
{% assign notes_column_2_category_SoundTeam = "SoundSheet-Video" %}
{% assign notes_column_2_category_SoundTeam_friendly = "Video" %}

CATEGORY NAME OF NOTES TO PRINT FOR COLUMN 3
{% assign notes_column_3_category_TechTeam = "Light Cue" %}
{% assign notes_column_3_category_TechTeam_friendly = "Light Cue" %}
{% assign notes_column_3_category_SoundTeam = "SoundSheet-Loop" %}
{% assign notes_column_3_category_SoundTeam_friendly = "Loop/Click" %}

TEAMS OF PEOPLE TO PRINT REPORTS FOR
{% array categories_to_print = "Tech Team", "Sound Team" %}

{% array positions_printorder = "Director", "Live Stream Operator", "Switcher", "Video Playback", "Stage Manager", "Recording", "Camera", "Slides", "Lights", "Sound-A1", "Sound-A2" %}

NOTES TO PRINT WITH PLAN (any note fields you'd like to print with the whole plan)
{% array notes_categories = "General", "Tech Team", "Sound Team" %}

PRINT ITEM TIMES
{% assign print_plan_item_times = true %}
-->
<html>
    <head>
        <title>{{ plan.ministry.name }}:: {{ plan.dates }}</title>
        <style>
            * { font-family: Verdana, Arial; padding:0; margin:0; }
	    body, th, td { font-size: 9pt; }
		.item { padding: 5px; }
		#plan thead { display: table-header-group; border: solid 4px black; }
		#plan { border-collapse: collapse; border: solid 4px black; width: 100%; font-size: 9pt; }
		#plan th { background-color: black; color: white; }
		#header { width: 100%; }
		.times { width: 100%; border: solid 2px #999; }
		.times thead th { background-color: #eee; }
		.times tbody th { width: 10%; }
		.times tbody td { width: 40%; }
        
        .evenpreservice { background-color: #f5f5f5; color: #000000; font-style: italic; }
        .oddpreservice { background-color: #f5f5f5; color: #000000; font-style: italic; }
        .even { background-color: #ffffff; color: #000000; }
        .odd { background-color: #cccccc; color: #000000; }
        .checkbox { text-align:center; color:#cccccc; height: 15px; width: 15px; border: 1px solid #000; background-color: #fff; float:left; margin-right:3px;}
        .specific-note { font-size: 1em; color: #000000; font-style: normal; background:#ffcc00; }
        </style>
    </head>
<body>
{% for plan in plans %}
<!-- ROSTER -->
{% capture roster_list %}
  <table border=0 cellspacing=10 cellpadding=0>
  {% for category in categories_to_print %}
    {% assign col_count = 0 %}
    <tr><td><span style="clear: both; margin-top: 5px; font-weight: bold; font-size: 12pt;">{{ category }}</span></td>
    	{% for plan_person in plan.plan_people_not_declined %}					
    		{% if (plan_person.category.name == category) or (plan_person.position == position_to_print)%}
      			{% if col_count > 5 %}
				    </tr><tr><td>&nbsp;</td>
    				{% assign col_count = 0 %}
    			{% endif %}
    			<td><strong>{{ plan_person.position }}: </strong>{{ plan_person.person.name }}</td>
    			{% assign col_count = col_count | plus: 1 %}
            {% endif %}
		{% endfor %}
    </tr>
  {% endfor %}
  </table>
{% endcapture %}
<!-- END ROSTER -->
{% for printposition in positions_printorder %}
  {% for category in categories_to_print %}				
  {% for plan_person in plan.plan_people_not_declined %}		
    {% if (plan_person.category.name == category) and (plan_person.position == printposition) %}
       <!-- Print specific items for this position -->
           <div style="page-break-before: always;"></div>
<table id="header" width="100%">
	<tr>
		<td rowspan=2 width="70pt" style="background-color: black; color:white; font-weight: bold; text-align: center;">SERVICE ORDER</td>
		<td colspan=2 style="background-color: black; color:white; font-size: 20pt; font-weight: bold; text-align: center; padding: 3px;">{{ plan.dates }}</td>
		<td rowspan=2 width="200pt" style="background-color: black; color:white; font-weight: bold; text-align: center;"><b>{{ plan_person.position }}:</b> {{ plan_person.person.name }}<br />
          <span style="font-size:10px;color:#555;">{{ now | date: "%m/%d/%Y %I:%M%p" }}</span></td>
	</tr>
	<tr>
		<td style="text-align: center; font-size: 12pt;">{{ plan.ministry.name }}&nbsp;&nbsp;&nbsp;{{ plan.plan_title }}</td>
	</tr>
</table>
<div style="background-color: black; height: 6pt; margin: 5pt 0;"></div>
<table width="100%;">
    <tr>
	<td style="width: 150pt; border: solid 1px black; vertical-align: top; font-size: 8pt; padding: 5px; padding-top: 0px;">
      <!-- TIMES -->
     {% for time in plan.plan_times %}<b>{{ time.starts_at | date: '%I:%M' }}</b>&nbsp;&nbsp;{{ time.name }}<br />{% endfor %}
      <br />
      <!-- END TIMES -->
 <!-- CHECKLIST -->
  {% capture checklist_name %}Checklist - {{ plan_person.category.name }} - {{ plan_person.position }}{% endcapture %}
  {% assign checklist_rehearsalitems = 0 %}
  {% assign checklist_beforeitems = 0 %}
  {% assign checklist_afteritems = 0 %}
      
  {% for note in plan.notes %}
  	{% if note.category_name == checklist_name %}
      {% if note.note contains '*' %}
   		{% assign checklist_rehearsalitems = 1 %}
   	  {% elsif note.note contains '~'%}
   		{% assign checklist_afteritems = 1 %}
      {% else %}
   		{% assign checklist_beforeitems = 1 %}
      {% endif %}
  	{% endif %}
  {% endfor %}
      
  {% if checklist_rehearsalitems == 1 %}
  <strong>DURING REHEARSAL:</strong>
  <table width="100%">
  {% for note in plan.notes %}
    {% if note.category_name == checklist_name %}
          {% if note.note contains '*' %}
      		<tr><td>
            <div class="checkbox">&nbsp;</div>
            &nbsp;{{ note.note | remove: '*' }}
            </td></tr>
          {% endif %}
    {% endif %}
      {% endfor %}
    </table>
      <br />
  {% endif %}

  {% if checklist_beforeitems == 1 %}
  <strong>BEFORE EACH SERVICE:</strong>
  <table width="100%">
    {% for note in plan.notes %}
    {% if note.category_name == checklist_name %}
          {% if note.note contains '*' %}
          {% elsif note.note contains '~' %}
          {% else %}
    			<tr><td>
               {% for time in plan.plan_times %}
                {% if forloop.length == 1 %}
                  {% assign current_service = "&nbsp;" %}
                {% else %}
                 {% assign current_service = forloop.index %}
               {% endif %}
                {% for plan_person_time in plan_person.service_times %}
                     {% if plan_person_time.id == time.id %}
                         <div class="checkbox">{{ current_service }}</div>
                     {% endif %}
                {% endfor %}
              {% endfor %}
            	&nbsp;{{ note.note | remove: '*' }}
               </td></tr>
          {% endif %}
    {% endif %}
      {% endfor %}
  </table><br />
  {% endif %}

  {% if checklist_afteritems == 1 %}
  <strong>AFTER EACH SERVICE:</strong><br />
	{% for note in plan.notes %}
  	  {% if note.category_name == checklist_name %}
          {% if note.note contains '~' %}
              <strong>{{ note.note | remove: '~' }}</strong>
			  {% for time in plan.plan_times %}
                {% if forloop.length == 1 %}
                  {% assign current_service = "&nbsp;" %}
                {% else %}
                 {% assign current_service = forloop.index %}
               {% endif %}
              	<table>
                  {% for plan_person_time in plan_person.service_times %}
                     {% if plan_person_time.id == time.id %}
                  <tr><td><div class="checkbox">{{ current_service }}</div></td>
                    <td>&nbsp;______________________________</td></tr>
                     {% endif %}
                {% endfor %}
              </table>
              {% endfor %}
				<br />
          {% endif %}
  	  {% endif %}
	{% endfor %}
  {% endif %}
      
<!-- END CHECKLIST -->
<!-- PLAN NOTES -->
{% if plan.notes.size > 0 %}
      <br/> <b>Notes:</b>
{% endif %}
  <!-- PRINT GENERAL NOTES DEFINED IN ARRAY -->
    {% for my_note in notes_categories %}
      {% for note in plan.notes %}
	{% if my_note == note.category_name %}
          {% if note.note != "" %} 
            <strong>{{ my_note }}</strong>:{{ note.note }}<br />
          {% endif %}
	{% endif %}
      {% endfor %}
    {% endfor %}
   <!-- PRINT SPECIFIC POSITION NOTES -->
{% capture plannotes_name %}{{ plan_person.category.name }} - {{ plan_person.position }}{% endcapture %}
    {% for note in plan.notes %}
      {% if note.category_name contains plannotes_name %}
        {% if note.category_name contains "Checklist" %}
        {% else %}
          {% if note.note != "" %} 
            <strong>{{ note.category_name}}</strong>: {{ note.note }}<br />
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
<!-- END PLAN NOTES -->
	</td>

	<td valign="top">
	        <table id="plan">
		  <thead>
	            <tr>
			<th></th>
			<th></th>
              {% if (plan_person.category.name == "Sound Team")%}
              	            <th>{{ notes_column_1_category_SoundTeam_friendly }}</th>
              	            <th>{{ notes_column_2_category_SoundTeam_friendly }}</th>
               	            <th>{{ notes_column_3_category_SoundTeam_friendly }}</th>
              {% else %}
              	            <th>{{ notes_column_1_category_TechTeam_friendly }}</th>
              	            <th>{{ notes_column_2_category_TechTeam_friendly }}</th>
               	            <th>{{ notes_column_3_category_TechTeam_friendly }}</th>
              {% endif %}
	            </tr>
		  </thead>
            {% assign current_header_title = "" %}
		    {% for item in plan.items %}
			{% case item.item_type %}
				{% when 'Header' %}
              		{% assign current_header_title = item.title %}
              		{% assign current_header_printed = 0 %}
				{% else %}
					<tr class="{% cycle 'even', 'odd' %}{% if item.is_preservice or item.is_postservice %}preservice{% endif %}">
						<td class="item">
                       {% if item.is_preservice or item.is_postservice %}
                          {% if print_plan_item_times == true %}
                       		{% for time in plan_person.service_times %}
                          		{% for item_time in item.times %}
                           			{% if item_time.time_id == time.id %}
                               			<span style="background-color:eeeeee;font-size:7pt;">{{ item_time.actual_time | date: '%I:%M%p' | downcase }}<br /></span>                                                                                          
                           			{% endif %}
                           		{% endfor %}
                       		{% endfor %}
                    	  {% endif %}
					   {% else %}
     						 <span style="background-color:eeeeee;font-size:7pt;font-weight:bold;">
                                {% if item.length != "0:00" %}
                     				{{ item.length }}
                                {% endif %}
                             </span>
					   {% endif %}
                        </td>
                        <td class="item">
                        	{% if current_header_printed == 0 %}
                            <span style="background-color:eeeeee;font-size:7pt;">{{ current_header_title }}</span>&nbsp;&nbsp;
							{% assign current_header_printed = 1 %}
							{% endif %}
                            {% if plan_person.category.name == "Sound Team" %}
                                {% if item.title contains '[LIVE]'%}
                          			<span style="background: #ffcc00;">LIVE ROOM: Switch to <b><u>"Message"</u></b> Snapshot into...</span><br />
                                {% endif %}
							{% endif %}
                            	<strong>{{ item.title }}</strong><br /><span style="font-size:9pt;">{{ item.description }}</span>
						{% for note in item.notes %}
                        	{% if note.category_name == plan_person.position %}
                            	<span class="specific-note">{{ note.note }}</span>
                            {% endif %}
                          {% if note.category_name == "SoundSheet-Notes" and plan_person.category.name == "Sound Team" %}
									{% assign notes_array = note.note | split: "; " %}
                          			<br /><b>Notes:</b>
									<ul>
									{% for member in notes_array %}
										<li>{{ member }}</li>
                                    {% endfor %}
									</ul>
							   {% endif %}
                        {% endfor %}
                        {% if plan_person.category.name == "Sound Team" %}
                        	{% if item.title contains '[LIVE]'%}
                          			<span style="background: #ffcc00;">LIVE ROOM: Switch back to <b><u>"Band"</u></b> Snapshot into...</span><br />
                       		{% endif %}
                        {% endif %}
                      </td>
                      	{% if (plan_person.category.name == "Sound Team")%}
                        	<td class="item">{% for note in item.notes %}{% if note.category_name == notes_column_1_category_SoundTeam %}{{ note.note }}{% endif %}{% endfor %}</td>
                        	<td class="item">{% for note in item.notes %}{% if note.category_name == notes_column_2_category_SoundTeam %}{{ note.note }}{% endif %}{% endfor %}</td>
                        	<td class="item">{% for note in item.notes %}{% if note.category_name == notes_column_3_category_SoundTeam %}{{ note.note }}{% endif %}{% endfor %}</td>
						{% else %}
                        	<td class="item">{% for note in item.notes %}{% if note.category_name == notes_column_1_category_TechTeam %}{{ note.note }}{% endif %}{% endfor %}</td>
                        	<td class="item">{% for note in item.notes %}{% if note.category_name == notes_column_2_category_TechTeam %}{{ note.note }}{% endif %}{% endfor %}</td>
                        	<td class="item">{% for note in item.notes %}{% if note.category_name == notes_column_3_category_TechTeam %}{{ note.note }}{% endif %}{% endfor %}</td>          
                        {% endif %}
                                            </tr>
			{% endcase %}
		    {% endfor %}
	        </table>
	</td>
    </tr>
</table>
 {{ roster_list }}
    {% endif %}
  {% endfor %}
{% endfor %}
  	{% endfor %}
{% endfor %}
                                           
<!--
QUICK CUSTOMIZATION:

CATEGORIES OF PEOPLE TO PRINT REPORTS FOR
{% array categories_to_print = "Tech Team", "Sound Team", "Band" %}

-->
<!-- START SCHEDULED PEOPLE REPORT -->
            <style>
          * { font-family: Arial, Helvetica; }
.field_option_name { font-size: 1.2em; border: solid 1px black;
padding: 5px 5px 0 5px; margin: 10px 0 0 0; background-color: black;
color: white; }
          .people { border-collapse: collapse; border: solid 1px black; width: 100%; font-size: 0.9em;  }
          .people tr.even { background-color: #eee; }
          .people td {  border-bottom: dotted 1px #999; padding: 2px 5px;}
          .people td.phone_number { text-align: right }
        </style>
{% for plan in plans %}
    <div style="page-break-before: always;"></div>
    <span style="font-weight:bold;font-size:2em;">Scheduled People - {{ plan.ministry.name }}</span>
{% for category in categories_to_print %}
      <br /><br /> <span style="font-weight:bold;font-size:1.7em;">{{ category }}</span>
      <table class="people" border="0" cellspacing="0" cellpadding="3">
       <tr>
        <td><b>Name</b></td>
        <td><b>Scheduled Position / Times</b></td>
      </tr>
  {% for plan_person in plan.plan_people_not_declined %}					
    {% if (plan_person.category.name == category)%}
                  <tr class="{% cycle 'odd', 'even' %}">
                  <td class="name">
                       <strong>{{ plan_person.person.name }}</strong><br />
                        {% for email in plan_person.person.emails %}
            	             <div>{{ email.address }}</div>
		               {% endfor %}
                       {% for phone_number in plan_person.person.phone_numbers %}
                        	 <div>{{ phone_number.type_name }}: {{ phone_number.number }} {{ phone_number.extension }}</div>
		               {% endfor %}
                  </td>
                  <td>{{ plan_person.position }}<br />
                    {% for plan_person_time in plan_person.service_times %}
                        <small>{{ plan_person_time.starts_at | date: '%I:%M%p' | downcase }}
                        {% if forloop.last %}
                        {% else %}
                        &nbsp;|&nbsp;
                        {% endif %}
                        </small>
                    {% endfor %}
                  </td>
                  </tr>
    {% endif %}
  {% endfor %}
  </table>
{% endfor %}
{% endfor %}
<!-- END SCHEDULED PEOPLE REPORT -->
</body>
</html>